body{
	background-color: black;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
h1{
	color: red;
	font-family: verdana;
	font-size: 300%;
}
blockquote{
	color: yellow;
	font-family: verdana;
	font-size: 160%;
}
p{
	color: yellow;
	font-family: verdana;
	font-size: 160%;
}
.center{
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}
th{
	color: red;
	font-size: 200%;
}
td{
	color: orange;
	font-size: 160%;
	padding: 15px;
}
table, th, td {
  border: 1px solid yellow;
  border-collapse: collapse;
}
h2{
	color: orange;
	font-size: 200%;
	text-align: center;
}